[Unit]
Description=Makes sure that ubuntu boots first
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/boot-ubuntu-first.sh
RemainAfterExit=true
User=root

[Install]
WantedBy=multi-user.target
